<head>
    <title>Home</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='css/bootstrap.min.css') }}">

    <link rel="stylesheet"
          href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container">
        <a class="navbar-brand" href="/">Flask App</a>
    </div>
</nav>

<div class="container mt-5">
    <div class="card p-5 text-center">
        <h1>Home</h1>
        <p>This is Home 🏠</p>

        <a href="/about" class="btn btn-custom mt-3">
            About Page
        </a>
    </div>
</div>

<script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
</body>